extends base.pug

block head
  script(src='/socket.io/socket.io.js' type='text/javascript')
  script(src='picture.js' type='text/javascript')
  script(src='clock.js' type='text/javascript')
  script(src='chat.js' type='text/javascript')
  script(src='game-common.js' type='text/javascript')
  block scripts

block content
  main#gameMain
    div
      button#clockButton(onclick='startCountdown()') Rozpocznij
      .circle
        .circle.mask
          .circle.mask.fill
        .circle.mask
          .circle.mask.fill
        #clock Timer
    #drawingArea
      block tools
    #chatArea
      #chatHistory
      form#chatForm(action='')
        input(type='text' autocomplete='off')#chatInput
        button(onclick='chat(chatInput)') Wyślij
