extends base.pug

block head
  script(src='/socket.io/socket.io.js' type='text/javascript')
  script(src='picture.js' type='text/javascript')
  script(src='clock.js' type='text/javascript')
  script(src='chat.js' type='text/javascript')
  script(src='player-list.js' type='text/javascript')
  script(src='game-common.js' type='text/javascript')
  script(src='word-choice.js' type='text/javascript')
  block scripts

block header
  .headerBig Słowo: 
    span#guessWord
  .playerInfo
    #nickname
    button(
      onclick='showNicknameInput()'
    ) Zmień nick

block content
  main#gameMain
    #gameSidebar
      ul#playerList
    #drawingArea
      div#clockDisplay
        .circle
          .circle.mask
            .circle.mask.fill
          .circle.mask
            .circle.mask.fill
          #clock
      block tools
    #chatArea
      button#next_round(onclick='nextRound()') Następna runda
      button#clockButton(onclick='startCountdown()') Rozpocznij
      #chatHistory
      form#chatForm(action='' onsubmit='chat(chatInput); return false')
        input#chatInput(type='text' autocomplete='off')
        button Wyślij
    #nickModal
      form(action='' onsubmit='submitNicknameInput(); return false') Nowy nick:
        input#nickInput(type='text' autocomplete='off')
        button Zmień
