extends base.pug

block head
  script(src='/socket.io/socket.io.js' type='text/javascript')
  script(src='picture.js' type='text/javascript')
  script(src='clock.js' type='text/javascript')
  script(src='chat.js' type='text/javascript')
  script(src='player-list.js' type='text/javascript')
  script(src='game-common.js' type='text/javascript')
  block scripts

block header
  div
    #nickname(
      onclick='setNickname(prompt("Nowa nazwa:").trim() || nickname.textContent)'
    )

block content
  main#gameMain
    #gameSidebar
      ul#playerList
    #drawingArea
      div#clockDisplay
        .circle
          .circle.mask
            .circle.mask.fill
          .circle.mask
            .circle.mask.fill
          #clock Timer
      block tools
    #chatArea
      button#clockButton(onclick='startCountdown()') Rozpocznij
      #chatHistory
      form#chatForm(action='' onsubmit='chat(chatInput); return false')
        input#chatInput(type='text' autocomplete='off')
        button Wyślij
